node_modules
flowchart drawio
backend\backend.rar
# Ignore config files
*.properties
*.yaml
*.yml

# Ignore the garbage you merged earlier (just in case)
node_modules/
target/
.env
*.env
build/
dist/
.idea/
*.log